<div class="container container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 transparent-bg">
            <h1 class="text-center">About Us</h1>
            <p class="ft-sz-18">
                The word <em>Coterie</em> means a small group of people with shared interests or tastes.
            </p>
            <p class="ft-sz-18">
                Coterie is a web application that allows users to join and host virtual meetings to connect people with shared interests. The inspiration of this app came during the time of COVID where it was difficult for people to gather in-person. Coterie provides a safe space to still meet new people and stay connected.
            </p>
        </div>
    </div>
</div>